<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIRECTORY" value="logs"/>
    <property name="LOG_FILE" value="adminService"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ADMIN_SERVICE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIRECTORY}/${LOG_FILE}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <FileNamePattern>${LOG_DIRECTORY}/archived/${LOG_FILE}.log.%d{yyyy-MM-dd}.%i.log.gz
            </FileNamePattern>
            <!-- keep 15 days' worth of history -->
            <MaxHistory>15</MaxHistory>
            <!-- or whenever the file size reaches 10MB -->
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="com.lifesight.service" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ADMIN_SERVICE_APPENDER"/>
    </logger>
</configuration>